extends base.pug

block content 
    style
      include ../static/css/abtstyle.css
    style
      include ../static/css/responsive.css
    .abtcontainer
      p
        | Hi, I am Aman Srivastava, an aspiring MERN stack developer. I am
        | currently pursuing B.Tech. from Bharati Vidyapeeth (Deemed to be
        | University), Pune.
      p
        | I am an enthusiastic learner that is quite tech-friendly and organised
        | in various aspects. I consistently try to improve my skills. I am 21
        | years old from the city of Lucknow, Uttar Pradesh.
      p
        | I have a knack of developing websites. I am currently learning
        | Javascript and its related frameworks. Other than developing websites, I
        | like to solve problems related to data structures and algorithms. I am a
        | 5-star coder on Hackerrank and 2-star coder on LeetCode. I am among the
        | top 10 rankings in our University on GeeksforGeeks.
      p
        | My hobbies include cooking, reading books, blogs and newsletters,
        | listening to music, learning new languages, personal finance and
        | volunteering for a social cause.
