extends base.pug

block content
    style
      include ../static/css/courstyle.css
    style
      include ../static/css/responsive.css
    .containercourse
      h3.coursehead
        | HERE&apos;S A LIST OF COURSES WITH THEIR CREDENTIALS
      .list
        .course
          a(href='../static/certificates/UDEMY - Easy to Advanced data structures.pdf#toolbar=0', target='_blank') Easy to Advanced Data Structures
          p.author UDEMY
        .course
          a(href='../static/certificates/UDEMY - HTML and CSS for beginners.pdf#toolbar=0', target='_blank') HTML and CSS for Beginners - Build a Website and Launch ONLINE
          p.author UDEMY
        .course
          a(href='../static/certificates/UDEMY - Python for Absolute beginners.pdf#toolbar=0', target='_blank') Python for Absolute Beginners
          p.author UDEMY
        .course
          a(href='../static/certificates/UDEMY - Python Core and Advanced.pdf#toolbar=0', target='_blank') Python Core and Advanced
          p.author UDEMY
        .course
          a(href='../static/certificates/COURSERA - C for everyone Programming Fundamentals.pdf#toolbar=0', target='_blank') C for Everyone : Programming Fundamentals
          p.author COURSERA
        .course
          a(href='../static/certificates/UDEMY - Become an Android Developer from scratch.pdf#toolbar=0', target='_blank') Become an Android Developer from Scratch
          p.author UDEMY
        .course
          a(href='../static/certificates/COURSERA - C++ for C Programmers Part A.pdf#toolbar=0', target='_blank') C++ for C Programmers, Part A
          p.author COURSERA
        .course
          a(href='../static/certificates/COURSERA - C for everyone Structured Programming.pdf#toolbar=0', target='_blank') C for Everyone : Structured Programming
          p.author COURSERA
        .course
          a(href='../static/certificates/COURSERA - C++ for C Programmers Part B.pdf#toolbar=0', target='_blank') C++ for C Programmers, Part B
          p.author COURSERA
        .course
          a(href='../static/certificates/UDEMY - Learn Android Application Development.pdf#toolbar=0', target='_blank') Learn Android Application Development
          p.author UDEMY
        .course
          a(href='../static/certificates/UDEMY - Web Development.pdf#toolbar=0', target='_blank') Web Development - Complete Fast Track Course
          p.author UDEMY
        .course
          a(href='../static/certificates/COURSERA - Stanford Introduction to Food and Health.pdf#toolbar=0', target='_blank') Stanford Introduction to Food and Health
          p.author COURSERA
        .course
          a(href='../static/certificates/IBM - SkillsBuild for Students.pdf#toolbar=0', target='_blank') Cybersecurity Fundamentals
          p.author IBM SkillsBuild
        .course
          a(href='../static/certificates/Accenture Nordic Program.pdf#toolbar=0', target='_blank') Forage Developer Program
          p.author Accenture
        .course
          a(href='../static/certificates/EF SET Certificate.pdf#toolbar=0', target='_blank') EF Standard English Test
          p.author EF SET
        .course
          a(href='certificates/UDEMY - Beginner PHP and MySQL Tutorial.pdf#toolbar=0', target='_blank') Beginner PHP and MySQL Tutorial
          p.author UDEMY
        .view
          p (CLICK ON ANY COURSE NAME TO VIEW CERTIFICATION)
