extends base.pug

block content    
    style
      include ../static/css/expstyle.css
    style
      include ../static/css/responsive.css
    .containerexp
      .internship
        h3.headexp INTERNSHIP EXPERIENCE
        .internexp
          h4.subheadexp
            | CONTENT WRITER
            span (07/2021-08/2021)
          a(href='https://collegetips.in/', target='_blank') CollegeTips
        p
          | Made various videos, wrote various blogs for the startup giving my
          | personal views and suggestions and publicized the company on specific
          | platforms.
        .internexp
          h4.subheadexp
            | SOCIAL MEDIA MANAGER
            span (09/2021-10/2021)
          a(href='https://www.linkedin.com/company/nayii-subah/', target='_blank') Nayii Subah NGO
        p
          | Compiled several videos of interns, managed various social media
          | handles, designed various banners and posts on several instances and
          | coordinated with the entire team to get updates through MS Excel and
          | Notion.
      .membership
        h3.headexp MEMBERSHIP EXPERIENCE
        .internexp
          h4.subheadexp
            | MEMBER
            span (09/2021-present)
          a(href='https://dscbvppune.co/', target='_blank') Google Developer Student Clubs
        p
          | Took part in various events on topics such as Github, Designing
          | digital usable products, UI/UX Design, React.js, Machine Learning and
          | Data Structures &amp; Algorithms.
        .internexp
          h4.subheadexp
            | CENTER HEAD
            span (07/2020-07/2021)
          a(href='https://www.lionsclubs.org/en', target='_blank') LEO Club International
        p
          | Coordinated with the volunteers in planning and organizing various
          | activities for the Leo Education Program (LEP). Took an active part in
          | the Leo Education Program thereby tutoring underprivileged students on
          | some basic topics for their welfare.
        .internexp
          h4.subheadexp
            | SENIOR ASSOCIATE
            span (12/2021-06/2022)
          a(href='https://www.linkedin.com/company/edcbvducoep/mycompany/', target='_blank') Entrepreneurship Development Cell BV(DU)COEP
        p
          | Coordinated between the HR Head and the Junior Associates to manage
          | workflow.
      .volunteer
        h3.headexp VOLUNTEER EXPERIENCE
        .internexp
          h4.subheadexp
            | VOLUNTEER
            span (07/2019-07/2020)
          a(href='https://www.lionsclubs.org/en', target='_blank') LEO Club International
        p
          | Participated in several social activities like collection of funds
          | through flag selling event, engaging old people with some fun
          | activities and educating the blind.
        .internexp
          h4.subheadexp
            | VOLUNTEER
            span (11/2019-11/2020)
          a(href='https://www.linkedin.com/company/national-service-scheme/', target='_blank') National Service Scheme
        p
          | Took part in few social activities such as waste management drive and
          | blood donation drive.