extends base.pug

block content
    style
      include ../static/css/prostyle.css
    style
      include ../static/css/responsive.css
    .containerpro
      h3 HAVE A LOOK AT MY PROJECTS
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/tic_tac_toe', target='_blank') Tic-Tac-Toe
        p.languages HTML, CSS and Javascript
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/coin_toss', target='_blank') Coin Toss
        p.languages HTML, CSS and Javascript
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/hotel_management', target='_blank') Hotel Management
        p.languages C++
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/to_do_list', target='_blank') To-Do List
        p.languages HTML, CSS and Javascript
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/attendance_management', target='_blank') Attendance Management
        p.languages C++
      .projectlabel
        a(href='https://github.com/AmanSrivastava12/student_feedback_system', target='_blank') Student Feedback System
        p.languages HTML, CSS, PHP and MySQL
    .git
      h4 VISIT MY GITHUB PROFILE TO HAVE A LOOK AT MY REPOSITORIES
      a(href='https://github.com/AmanSrivastava12', target='_blank')
        img(src='../static/images/github.png', alt='github logo')