extends base.pug

block content
    style
      include ../static/css/skistyle.css
    style
      include ../static/css/responsive.css
    .containerskill
      .tech
        h3.headskill TECHNICAL SKILLS
        .skills
          .subheadlength
            h4.subheadskill C
            h5.length 40%
          .skill-bar
            .c
          .subheadlength
            h4.subheadskill C++
            h5.length 80%
          .skill-bar
            .cplusplus
          .subheadlength
            h4.subheadskill Java
            h5.length 80%
          .skill-bar
            .java
          .subheadlength
            h4.subheadskill Python
            h5.length 20%
          .skill-bar
            .python
          .subheadlength
            h4.subheadskill HTML
            h5.length 80%
          .skill-bar
            .htm
          .subheadlength
            h4.subheadskill CSS
            h5.length 60%
          .skill-bar
            .css
          .subheadlength
            h4.subheadskill Javascript
            h5.length 20%
          .skill-bar
            .javascript
          .subheadlength
            h4.subheadskill PHP
            h5.length 30%
          .skill-bar
            .php
          .subheadlength
            h4.subheadskill MS Word
            h5.length 60%
          .skill-bar
            .ms-word
          .subheadlength
            h4.subheadskill MS Excel
            h5.length 60%
          .skill-bar
            .ms-excel
          .subheadlength
            h4.subheadskill My SQL
            h5.length 30%
          .skill-bar
            .my-sql
          .subheadlength
            h4.subheadskill Data Structures and Algorithms
            h5.length 60%
          .skill-bar
            .dsa