@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@700&family=Exo+2:wght@300&family=Merriweather&family=Permanent+Marker&family=Rowdies&display=swap");
:root {
  --font1: "Acme", sans-serif;
  --font2: "Caveat", cursive;
  --font3: "Exo 2", sans-serif;
  --font4: "Merriweather", serif;
  --font5: "Permanent Marker", cursive;
  --font6: "Rowdies", cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abtcontainer {
  margin: 120px 80px 0px 80px;
}
.abtcontainer p {
  font-family: var(--font4);
  font-size: 1.5em;
  color: #0f0065;
}
